<h2>Add New Movie</h2>
<form method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Movie Info</legend>
    {{ movie_form.as_p }}
  </fieldset>

  <fieldset>
    <legend>Gross</legend>
    {{ gross_form.as_p }}
  </fieldset>

  <fieldset>
    <legend>Actors</legend>
    {{ actor_director_form.actors }}
    <p>
      {{ actor_director_form.new_actors.label_tag }}<br>
      {{ actor_director_form.new_actors }}
    </p>
  </fieldset>

  <fieldset>
    <legend>Directors</legend>
    {{ actor_director_form.directors }}
    <p>
      {{ actor_director_form.new_directors.label_tag }}<br>
      {{ actor_director_form.new_directors }}
    </p>
  </fieldset>

  <fieldset>
    <legend>Genres</legend>
    {{ genre_award_form.genres }}
  </fieldset>

  <fieldset>
    <legend>Awards</legend>
    {{ genre_award_form.awards }}
  </fieldset>

  <button type="submit">Add Movie</button>
</form>

<hr>

<h2>All Movies</h2>
{% for movie in all_movies %}
  <div>
    <h3>{{ movie.movie_title }}</h3>
    <p>Year: {{ movie.release_year }} | Duration: {{ movie.duration }}</p>
    <a href="{% url 'delete_movie' movie.movie_id %}" onclick="return confirm('Are you sure you want to delete this movie?');">Delete</a>
  </div>
{% endfor %}
